@supports (height: 1dvh) {
    :root {
        --dvh: 1dvh;
    }
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*,
::before,
::after {
    box-sizing: border-box;
    position: relative;
}

body {
    overflow-x: hidden;
}
